!!!
%html
  %head
    %title Wonderpedia
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %ul.nav.nav-tabs
        %li= link_to "Wonderpedia", root_path
        %li= link_to "About", about_path
        -if current_user
          %li=link_to "My wikis", wikis_path
        .pull-right.user-info
          - if current_user
            Hello
            = link_to current_user.name || current_user.email, edit_user_registration_path
            -if current_user.premium == true
              = "(#{current_user.user_status}) "
            -else
              = link_to "Upgrade membership", new_charge_path, 'data-no-turbolink' => true
            = link_to "Sign out", destroy_user_session_path, method: :delete
          - else
            = link_to "Sign In", new_user_session_path
            or
            \#{link_to "Sign Up", new_user_registration_path}
      .flash
        = render partial: 'layouts/flash'
      = yield